
/* Native Ads - Article bottom */

#container-d5ae4e7e5895b0bab97a6d19f663f005 {
    margin-top: 10px;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__bn-container {
    padding: 0 10px 0 0 !important;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__stand:last-child {
    padding: 0 !important;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__bn-container:hover {
    color: #fff;
    transform: translateY(-4px);
    box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__bn-container {
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-property: transform, box-shadow, width;
    transition-duration: 150ms;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__bn {
    border: none;
    border-radius: 5px;
    background-color: var(--lighter);
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__img {
    border-radius: 5px 5px 0 0;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    padding: 15px;
    font-family: 'Titillium Web', sans-serif;
    min-height: 132px;
}
