
/* Native Ads - Article bottom */

#container-d5ae4e7e5895b0bab97a6d19f663f005 {
    margin-top: 10px;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__bn-container:hover {
    color: #fff;
    transform: translateY(-4px);
    box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__bn-container {
    padding: 0 !important;
    margin-right: 10px !important;
    flex: 1 1 calc(33.33% - 10px) !important;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-property: transform, box-shadow, width;
    transition-duration: 150ms;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__bn-container:last-child {
    margin-right: 0 !important;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__bn {
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--lighter);
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__img {
    border-radius: 5px 5px 0 0;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px !important;
    font-family: 'Titillium Web', sans-serif;
    min-height: 132px;
}

.container-d5ae4e7e5895b0bab97a6d19f663f005__title::before {
    content: 'Actualité';
    font-size: 12px;
    background-color: #464b56;
    color: #fff;
    display: block;
    padding: 4px 8px;
    position: absolute;
    top: -14px;
    left: 20px;
    font-weight: 600;
    border-radius: 6px;
    z-index: 4;
    box-shadow: 0 4px 14px rgba(0,0,0,.15);
}
