
.content-row {
    max-width: 1218px;
    margin: 0 auto !important;
}

/* Article */

@media only screen and (max-width: 767px) { /* For small screens */
    .article-side-left {
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) { /* For large screens */
    .article-header {
        height: 600px;
    }

    .row-article {
        padding-right: 15px;
    }
}

.row-article {
    margin-left: 0;
    margin-right: 0;
}

.article-header {
    color: #fff;
    position: relative;
    display: block;
    height: 600px;
}

.article-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.49) 79%, rgba(0,0,0,0) 100%)
}

.article-header-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding-bottom: 30px;
}

.article-header-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
}

.article-title {
    font-size: 48px;
    margin-bottom: 0;
}

.article-header-details {
    margin-top: 10px
}

.article-content {
    flex: 1 0 !important;
    max-width: 728px;
    padding: 30px !important;
    background-color: var(--lighter);
    border-radius: 5px;
    color: #fff;
}

.article-side-left {
    min-width: 175px;
    padding-left: 0;
}

.article-side-left-inner {
    padding-left: 25px;
    padding-right: 25px;
}

.share-wrapper {
    position: sticky;
    top: 10px;
    width: 100%;
}

.share-header {
    text-align: center;
    margin-top: 0;
}

.share-content {
    display: flex;
    margin: -5px;
    flex-flow: row wrap;
    justify-content: center;
}
