
.content-row {
    max-width: 1218px;
    margin: 0 auto !important;
}

/* Desktop sizes */

@media only screen and (max-width: 767px) { /* For small screens */
    .row-article {
        flex-direction: column-reverse;
    }

    .side-previous-wrapper {
        display: none;
    }

    .article-side-left {
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1099px){ /* For medium screens */
    .row-article {
        flex-direction: column-reverse;
    }

    .article-side-left {
        max-width: 100%;
    }

    .side-previous-wrapper {
        display: none;
    }
}

@media only screen and (min-width: 768px) { /* For large screens */
    .article-header {
        height: 600px;
    }

    .row-article {
        padding-right: 15px;
    }
}

/* Header */

.row-article {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.article-header {
    color: #fff;
    position: relative;
    display: block;
    height: 600px;
}

.article-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.49) 79%, rgba(0,0,0,0) 100%)
}

.article-header-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding-bottom: 30px;
}

.article-header-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
}

.article-title {
    font-size: 48px;
    margin-bottom: 0;
}

.article-header-details {
    margin-top: 10px
}

.article-image {
    max-width: 100%;
    border-radius: 5px;
}

/* Content */

.article-content-wrapper {
    overflow: hidden;
    flex: 1 0 !important;
    padding: 0 !important;
}

.article-content, .github-comments {
    max-width: 728px;
    padding: 30px;
    background-color: var(--lighter);
    border-radius: 5px;
    color: #fff;
}

.embed-youtube {
    display: block;
    margin: 0 auto 1rem;
}

/* Left side */

.article-side-left {
    min-width: 175px;
    padding-left: 0;
}

.article-side-left-wrapper {
    position: sticky;
    top: 74px;
}

.article-side-left-inner {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
}

.share-wrapper, .side-previous-wrapper {
    top: 10px;
    width: 100%;
}

.share-header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.share-content {
    display: flex;
    margin: -5px;
    flex-flow: row wrap;
    justify-content: center;
}

.share-button {
    cursor: pointer;
    display: flex;
    margin: 5px;
    width: 48px;
    height: 48px;
    background-color: rgba(0,0,0,.37);
    text-align: center;
    font-size: 16px;
    line-height: 48px;
    transition: opacity .3s cubic-bezier(.32,.74,.57,1);
    flex: 0 0 48px;
    justify-content: center;
    border-radius: 6px;
    flex-direction: column;
}

.share-button svg {
    margin: 0 auto;
}

.share-button .fa-twitter {
    color: var(--twitter)
}

.share-button .fa-facebook-f {
    color: var(--facebook)
}

.share-button .fa-reddit-alien {
    color: var(--reddit)
}

.share-button .fa-pinterest {
    color: var(--pinterest)
}

.share-button .fa-whatsapp {
    color: var(--whatsapp)
}

.share-button .fa-envelope {
    color: #ffa100
}

.share-button:hover {
    opacity: .7;
}

.side-previous-wrapper {
    position: relative;
    padding-top: 20px;
    margin-top: 15px;
}

.side-previous-wrapper::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background-color: transparent;
    background-image: radial-gradient(#fff 1px,transparent 1px);
    background-position: 1px 1px;
    background-size: 5px 5px;
    content: '';
    opacity: .2;
}

.side-previous-img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.side-previous-wrapper .card-text {
    line-height: 1.1;
    text-align: center;
    margin-top: 10px;
    color: #8b9196;
}

/* Comments */

.gh-comments-list .avatar {
    max-width: 32px;
    max-height: 32px;
}
